*{
    margin: 0;
    padding: 0;
}
.track{
    margin: 100px auto;
    width: 1200px;
}

.track .orderContainer{
    margin-top: 50px;
}

.track .orderContainer .oderShow{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.track .orderContainer .oderShow .showBuy{
    margin-right: 50px;
    margin-bottom: 50px;
    width: 300px;
    background-color: #eec6c6;
    border-radius: 10px;
}

.track .orderContainer .oderShow .showBuy img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.track .orderContainer .oderShow .showBuy h3{
    padding-top: 10px;
    padding-left: 10px;
}

.track .orderContainer .oderShow .showBuy p{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.track .orderContainer .oderShow .showBuy i{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.track .orderContainer .oderShow .showBuy:hover i{
    display: block;
}

.track .orderContainer .oderShow .showBuy button{
    border: none;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    width: 100px;
    background-color: #1976d2;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}