* {
    margin: 0;
    padding: 0;
}

.nav {
    margin: auto;
    width: 1200px;
    /* background-color: red; */
    height: 67px;
}

.nav .navContainer {
    display: flex;
    justify-content: space-between;
}

.nav .navContainer .tab {
    margin-top: 10px;
    font-size: 30px;
}

.nav .navContainer .tab .tabNavLink {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;
}

.nav .navContainer .tab .tabNavLink:hover {
    transform: scale(1.06);
    text-shadow: 0 0 10px;
}

.nav .navContainer .tab .tabNavLink img {
    width: 67px;
    height: 57px;
}

.nav .navContainer .tab .tabNavLink .avatarIcon {
    background-color: #fff;
    color: rgb(190, 54, 54);
    font-size: 30px;
    cursor: pointer;
}

.nav .navContainer .tab .tabNavLink .avatarManu {
    position: absolute;
    right: 0px;
    background-color: #fff;
    width: 300px;
    border-radius: 10px;
    display: none;
}

.nav .navContainer .tab .tabNavLink:hover .avatarManu {
    display: block;
}

.nav .navContainer .tab .tabNavLink .avatarManu .avatarConainer {
    padding: 30px;

}

.nav .navContainer .tab .tabNavLink .avatarManu .avatarConainer .avatarTab {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    transition: 0.3s ease;
    cursor: pointer;
    margin-bottom: 20px;
}

.nav .navContainer .tab .tabNavLink .avatarManu .avatarConainer .avatarTab:hover {
    box-shadow: 0 0 10px;
    transform: scale(1.03);
    background-color: #b66d6d;
}

.nav .navContainer .tab .tabNavLink .avatarManu .avatarConainer .avatarTab .avatarTabNav {
    text-decoration: none;
    color: black;
}

.nav .navContainer .tab .tabNavLink .avatarManu .avatarConainer .avatarTab .avatarTabNav:hover {
    color: #fff;
}